@(
	status: Int, 
  	universes: Collection[String],   	
  	measuresets: Map[String, Collection[String]]
)

@toStartedStopped(choice: Int) = @{
				
	choice match { 
	    case 1 => "started"
	    case 0 => "stopped"
	    case _ => "error"
	}
}
	
@main(title = "Home") {

	<form action="@{routes.Application.submitStart()}" method="GET">
		
		<input type="submit" value="Start" />	
		
	</form>
	
	<form action="@{routes.Application.submitStop()}" method="GET">
		
		<input type="submit" value="Stop" />
	</form>
	
	<p>Server Status = @toStartedStopped(status)</p>
	
	<p>universes:</p>
	
	<ul> 
	@for(universe <- universes) {
	
	  <li>Universe: @universe</li>
	  <ul>
	 	@for(measureset <- measuresets.get (universe)) {
	 	
	 		<li>MeasureSet: @measureset
	  		
			@helper.form(action=routes.Application.showDataNavigator()){       
				<input type='text' name='universe' value="@universe"/>
				<input type='text' name='measureset' value= "@measureset"/>
				
				<input type='submit' name='mysubmit'/>    
			}
	 		</li>	  		
		
	}  		
	  </ul>
	} 
	</ul>
	
	
	<!--
	<form action="@{routes.Application.getAggregatedValue()}" method="GET">
		
		<input type="text" name="universe" value="SalesUniverse" />
		<input type="text" name="measureset" value="Sales" />
		<input type="text" name="measure" value="Quantity" />
		
		<input type="submit" value="Run" />
	</form>
	-->
}



